/* header */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        max-width: 1320px;
        margin:0 auto;
    }
    .container-gap{
        margin-bottom: 100px;
    }
}
.container-gap{
    margin-bottom: 50px;
}
